@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as *;

.services {
  margin: 80px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 10px;

  .service {
    display: flex;
    flex-direction: column;

    img {
      flex: 1;
      border-radius: $border-radius;
    }
    service-description {
      flex: 1;
    }
  }
}