@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/defaults.scss" as *;

.services {
  margin: 3rem auto;
  width: 100%;
  display: flex;
 /*  flex-wrap: wrap; */
  align-items: start;
  justify-content: center;
  gap: 20px;

  .service {
    flex: 1 1 500px;
    /* grow | shrink | basis */
    min-width: 150px;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;

    img {
      flex: 1;
      margin: 10px 10px 30px 0px;
      border-radius: $border-radius;
    }

    .service-description {
      color: $secondary-light;
    }
  }
}

