@use "../../node_modules/include-media/dist/_include-media.scss";

@forward "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: ( 
  "tablet": 876px,
  "desktop": 1440px,
);

@mixin respond-min($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin respond-max($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin respond-between($min, $max) {
  @media (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
    @content;
  }
}

 /*  @include respond-min("tablet") {
    font-size: 16px; // kicks in at >= 768px
  }

  @include respond-min("desktop") {
    font-size: 18px; // kicks in at >= 1024px
  } */