@font-face {
    font-family: 'Heroes Legend';
    src: url('/fonts/HeroesLegend.woff2') format('woff2'),
        url('/fonts/HeroesLegend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heroes Legend Hollow';
    src: url('/fonts/HeroesLegendHollow.woff2') format('woff2'),
        url('/fonts/HeroesLegendHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('/fonts/Bitter-ThinItalic.woff2') format('woff2'),
        url('/fonts/Bitter-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('/fonts/Bitter-Thin.woff2') format('woff2'),
        url('/fonts/Bitter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


