@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/defaults.scss" as *;

.contact {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
             @include respond-max("tablet") {
      flex-direction: column;
     }

  .contact-col {
    flex-basis: 48%;
    color: $secondary-light;

    h3 {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    p {
      max-width: 450px;
      margin-left: 0;
    }

    ul li {
      display: flex;
      align-items: center;
      margin: 20px 0;
      margin: 20px auto;
      max-width: 800px;
      font-family: "Bitter";
      font-weight: normal;
      line-height: 1.5;
      font-size: 1rem;
      color: $secondary-light;
      gap: 10px;
    }
    form input, form textarea {
      display: block;
      width: 100%;
      background-color: $secondary-light;
      padding: 15px;
      border: 0;
      margin: 5px 0 15px 0;
      resize: none;
      font-family: Bitter;
    }

    span {
      display: block;
      margin: 20px 0;
    }
  }
}