@use "../../styles/variables.scss" as *;  
@use "../../styles/fonts.scss" as *;  

nav {
  width: 100%;
  background-color: $primary-color;
  padding:  10px 5%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 120px;
  }

  ul li {
    font-family: "Heroes Legend";
    display: inline-block;
    margin: 5px 20px;
    color: $secondary-color;
    font-size: 16px;
  }
}