@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/defaults.scss" as *;

.footer {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $secondary-light;
  align-items: center; 
  font-size: 0.7rem;
  height: 30px;
  p {

    margin-left: 0;
    font-size: 0.7rem;
  }

  ul li {

    display: inline-block;
    color: $secondary-light;
   font-family: "Bitter";
   margin-left: 20px;
  }
}