@use "../../styles/variables.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/defaults.scss" as *;

@mixin arrowButton ($rightPos) {
  position: absolute;
  top: 50%;
  right: $rightPos;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: $primary-color;
  border: 1px solid $secondary-light;
  transition: 0.2s;
  z-index: 99999;
  @include respond-max("tablet") {
    right: $rightPos;
    transform: translate($rightPos, -50%);
  }

  @media (max-width: 400px) {
    width: 30px;
  }
}

.testimonials {
  margin: 80px auto;
  padding: 0 25px;
  position: relative;
     @include respond-max("tablet") {
        padding: 0 40px;
     }

  .next-btn {
    @include arrowButton(0%)
  }

  .back-btn {
    @include arrowButton(100%)
  }

  .slider {
    overflow: hidden;

    ul {
      display: flex;
      align-items: center;
      flex: 1;

      //there were width: 200%)))

      transition: 0.5s;
      
      // @media (max-width: 1000px) {
      //   width: 400%;
      // }


      // i just commented the code above so you can laugh of it once you smart, do not remove it


      li {
        flex: 0 0 50%;
        padding: 20px;

        @include respond-max("tablet") {
          padding: 10px;
          flex: 0 0 100%;
        }

        .slide {
          box-shadow: 0 0 20px $primary-color;
          border-radius: $border-radius;
          padding: 25px;

          @include respond-max("tablet") {
            padding: 10px;
          }

          .user-info {
            display: flex;

            img {
              width: 100px;
              border-radius: 50%;
              margin-right: 10px;
              margin-bottom: 15px;
              border: 2px solid $primary-color;

              @include respond-max("tablet") {
                width: 70px;
                height: 70px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    padding: 0;
  }
}