@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as *;
@use "./styles/defaults.scss" as *;

* {
  box-sizing: border-box;
}

body {
 background-color: $primary-dark;
  background-image: url("/textures/asfalt-dark.webp");
  margin-bottom: 10000px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn {
  background-color: $primary-dark;
  color: $secondary-color;
  font-size: 0.7rem;
  font-family: "Heroes Legend Hollow";
  box-shadow: none;
  border: solid 1.5px;
  border-radius: $border-radius;
  padding: 8px 14px;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}