@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss"as *;
@use "./styles/defaults.scss"as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
  margin-bottom: 10000px;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn{
  background-color: $primary-dark;
  color: $secondary-color;
  font-family: "Heroes Legend Hollow";
  box-shadow: none;
  border: none;
  border-radius: $border-radius;
  padding: 8px 14px;
  outline: 0;
}